// _config.scss

$fg-primary: #000;					// default text colour
$fg-secondary: rgb(92, 92, 41);	// alternate text colour
$fg-bright: #ccb;
$bg-primary: #aabec7;				// default background colour
$hdg-color: rgb(32, 102, 92);				// default heading colour
$a-link: rgb(55, 17, 3);						// link colours
$a-hover: #b00;					//  "      "
$a-visited: rgb(73, 42, 9);				//  "      "
$a-active: #3c1ab9;			//  "      "
$background-img: url(/img/paper.png);
$box-bg: #111;

$font-button: 'NotoSans', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
$font-header: 'NotoSans', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
$font-main: 'NotoSans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-msg: 'DotMatrix', 'VT323', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
$font-mono: 'NotoSansMono', 'Courier New', Courier, monospace;
$font-menu: 'NotoSans', 'Courier New', Courier, monospace;
$font-dm: 'DotMatrix', 'EnigmaSans', 'Courier New', Courier, monospace;

// Media Query Mixins - for responsiveness
@mixin mediaSm {	// screens up to 500px - smartphones
	@media screen and (max-width: 500px) {
	  @content;
	}
  }

@mixin mediaMd {	// screens up to 800px - small laptops & tablets
  @media screen and (min-width: 501px) and (max-width: 800px) {
	@content;
  }
}

@mixin mediaStd {	// screens 801-1200px - Standard
  @media screen and (min-width: 801px) and (max-width: 1300px) {
    @content;
    }
  }

@mixin mediaLg {	// screens 801-1200px
  @media screen and (min-width: 1301px) and (max-width: 1600px) {
	@content;
  }
}

@mixin mediaXl {	// screens over 1200px
  @media screen and (min-width: 1601px) {
	@content;
  }
}

@mixin easeInOut {
	transition: all 0.5s ease-in-out;
}
